.centrar {
    padding-top: 12%;
}

.fondo {
    background-image: url(../img/background.png);
    width: auto;
    height: auto;
}

.image-user img {
    width: 30%;
    display: block;
    margin: auto;
}

.panel-body {
    padding: 30px !important;
}

.image-logo img {
    width: 80%;
    display: block;
    margin: auto;
    overflow: hidden;
    -webkit-transition: all 0.9s ease; /* Safari y Chrome */
    -moz-transition: all 0.9s ease; /* Firefox */
    -o-transition: all 0.9s ease; /* IE 9 */
    -ms-transition: all 0.9s ease; /* Opera */
}

.centrar-logo {
    padding-top: 15%;
}

.image-logo:hover img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

    
}
